<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Synopsis-Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Synopsis-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Synopsis-macOS-Decoder-Only.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Synopsis-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B4446B71EE1FE4A0075575D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B922F5C1E9D445A00DE9566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BBB10DC1D5542A200C22439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BFB124A1F213552002C4651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BFB12C21F2135BF002C4651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
